<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>글쓰기 - Sorbet 게시판</title>
  <link rel="stylesheet" href="/css/createpost.css">
</head>
<body>
<div class="container">

  <!-- GET 방식으로 view.html로 이동 -->
  <form class="form-box" th:action="@{/createpost}" method="post" th:object="${post}">

    <img src="/images/writingRabits.png" alt="끄적토끼" class="writing-image"/>
    <h1 class="use-crayon-font">Tell us your story.</h1>

    <div class="form-group">
      <label th:for="*{title}">제목</label>
      <input type="text" th:field="*{title}" required />
    </div>

    <div class="form-group">
      <label th:for="*{content}">내용</label>
      <textarea th:field="*{content}" rows="6" required></textarea>
    </div>

    <div class="form-group">
      <label th:for="*{category}">카테고리</label>
      <select th:field="*{category}">
        <option value="">선택하세요</option>
        <option value="love">연애</option>
        <option value="friend">친구</option>
        <option value="life">인생</option>
        <option value="etc">기타</option>
      </select>
    </div>

    <div class="form-group">
      <label th:for="*{writer}">작성자 닉네임</label>
      <input type="text" th:field="*{writer}" readonly />
    </div>

    <div class="form-group">
      <label th:for="*{tags}">태그</label>
      <input type="text" th:field="*{tags}" />
    </div>

    <button type="submit" class="btn-submit">등록하기</button>
  </form>


</div>
</body>
</html>